[flake8]
max-line-length = 100
exclude = .git,__pycache__,venv,.pytest_cache,build,dist,*.egg-info
ignore = E203,W503
per-file-ignores =
    __init__.py:F401
    scripts/*.py:E402,F841
    tests/*.py:E402,E501,F401,F841,W293
